*{
	box-sizing: border-box; 
}

body{
	margin: 0px;
	background: #1b262c;;
	font-family: verdana;
	font-size: 14px;
}

#header{
	font-family: 'Cinzel', serif;
	background: #0f4c75;
	padding: 3px;
	border-radius:3px ; 
	font-size: 180%;
	font-weight: bold ;
	text-align: center;
	color: white;
}


#menu ul{
	font-family: 'Fredoka One', cursive;
	margin-top: 0;
	list-style-type: none;
  	overflow: hidden;
	background: #3282b8;
	padding: 5px; 
	font-weight: bold ;
	font-size: 120%;
}

#menu ul li{
	display: inline;
	float: left;
}

#menu ul li a{
	color: black;
	padding-left:  15px; 
	padding-right: 15px;
	transition: 1s;
	display: block;
	text-align: center;
	text-decoration: none;
}

#menu ul li a:hover{
	background:#bbe1fa;
	font-size: 120%;
	border-radius: 15px;
	transition: 1s;
	
}


.design{
	transition: 0.5s;
	margin-top: 2.5px; 
}

.design:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
	transition: 0.5s;
	padding: 5px;
	color: white ;
	cursor: default;
	font-size: 100%;
	border-radius: 5px; 
	background: #1b262c;
}


#footer
{
	background: #0f4c75;
	padding: 5px;
	 
	font-size: 80%;
	font-weight: bolder;
	text-align: center;

 	clear: both;
 	color: white;
}

#partone{
	background: #3282b8;
	color: white;
	margin-top: 7px; 
	padding: 1px;
	text-transform: uppercase;
	
}
#partone h2{
	color: black;
	padding-left: 40px;
	padding-top: 30px;
	line-height: 1; 
	margin: 0;
}

#partone h4{
	color: black;
	padding-left: 40px;
	margin: 0;
}

#partone p{
	font-size: 16px;
	padding-left: 40px;
	padding-bottom: 9px;
	margin-bottom: 0; 

}

#parttwo{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 0px;  
    
}

#parttwo p{
	position: relative;
	color: black;
	font-weight: bolder;
	font-size: 25px;
	top: 240px;
	padding-left: 40px;
	transition: 1s;
	margin: 7px; 
}

#parttwo p:hover{
	background: white;
	position: relative;
	color: black;
	font-weight: bolder;
	font-size: 25px;
	top: 50px;
	padding-left: 40px;
	transition: 1s; 
	border-radius: 9px; 
}


#parethree{
	background: #3282b8;
	color: white;
	margin-top: 7px;
	padding: 1px;
	line-height: 1.442714;
	
}

#parethree p{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5%; 
	padding-left: 40px;
	font-size: 15px;
}

#partfour {
	margin-top: 7px;
	margin-bottom: 5px;
	text-align: center;  
	background-position: center top;
}

.slid{
	border-radius: 10px;
}


@media (max-width: 900px){
#parttwo p{
	position: relative;
	font-size: 20px;
	top: 50px;
	
}

#partfour{
	background-position: center top;
}


}